<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue
			{% endblock %}
			| Cityhall search</title>
		{% block css %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<div class="wrapper">
			<img src="{{ asset('build/hotel.svg') }}" alt="" class="intro--img"> {% block content %}{% endblock %}
			</div>
		</body>
	</html>
